[general]
portlistener = 3000
atomic = ["atom", "molecule", "organism", "template", "page"]
excludefile = [".git", ".gitignore", ".gitmodule", ".gitkeep"]
engine = ["webbunjs", "webnodejs", "deskelectronjs"]
sudopwd = ""
timeout = 2000

[log]
[log.success]
type = "dateFile"
keepFileExt = true
maxLogSize = "50M"
numBackups = 10
success.layout = { type = "basic", pattern = "%d %p %c %X{user} %m%n" }

[log.error]
type = "dateFile"
keepFileExt = true
maxLogSize = "10M"
numBackups = 10
error.layout = { type = "basic", pattern = "%d %p %c %X{user} %m%n" }

[production]
remote = { cdn = "" }
[debug]
remote = { cdn = "" }
