{
  "name": "",
  "productName": "",
  "homepage": "",
  "version": "",
  "description": "",
  "repository": "",
  "main": "app.js",
  "bin": "./app.js",
  "author": "",
  "license": "",
  "private": true,
  "dependencies": {
    "@ltd/j-toml": "1.38.0",
    "@sagold/json-pointer": "6.0.1",
    "dayjs": "1.11.11",
    "log4js": "6.9.1",
    "multer": "1.4.5-lts.1"
  },
  "devDependencies": {
    "@types/bun": "latest"
  },
  "workspaces": [
    "engine/*"
  ]
}