[production]
[production.sqlite3]

[production.sqlite3.log]
size = "50m"
frequency = "daily"
mkdir = true
limit = { count = 10, removeOtherLogFiles = true }
symlink = true
dateFormat = "yyyy-MM-dd"

[production.sqlite3.db]
[production.sqlite3.db.group]
workdb = { path = "", type = "memory" }
filedb = { path = "", type = "file" }

[production.mariadb]

[production.mariadb.log]
size = "50m"
frequency = "daily"
mkdir = true
limit = { count = 10, removeOtherLogFiles = true }
symlink = true
dateFormat = "yyyy-MM-dd"

[production.mariadb.db]
workdb = { path = "", port = 3306, host = "127.0.0.1", user = "root", password = "root", database = "mysql", waitForConnections = true, connectionLimit = 10, queueLimit = 0 }

[debug]
[debug.sqlite3]

[debug.sqlite3.log]
symlink = true
size = "50m"
frequency = "daily"
mkdir = true
limit = { count = 10 }
dateFormat = "yyyy-MM-dd"

[debug.sqlite3.db]
[debug.sqlite3.db.group]
workdb = { path = "", type = "memory", backup = "" }
filedb = { path = "", type = "file", backup = "" }

[debug.mariadb]

[debug.mariadb.log]
symlink = true
size = "50m"
frequency = "daily"
mkdir = true
limit = { count = 10 }
dateFormat = "yyyy-MM-dd"


[debug.mariadb.db]
workdb = { path = "", port = 3306, host = "127.0.0.1", user = "root", password = "root", database = "mysql", waitForConnections = true, connectionLimit = 10, queueLimit = 0 }